<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Świat gier komputerowych" />
    <meta name="keywords" content="gry komputerowe" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/stylesheets/styl.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title><%= title %></title>
</head>

<body>
<div id="main">
    <header id="header">
        <img src="/images/logo.png" class="left-image" alt="Left Image"/>
        <h1>GRY KOMPUTEROWE</h1>
        <img src="/images/logo.png" class="right-image" alt="Right Image"/>
    </header>
    <nav id="menu">
        <ul>
            <li><a href="/">Strona Główna</a></li>
            <li><a href="/rpg-games">Gry fabularne</a></li>
            <li><a href="/strategy-games">Gry strategiczne</a></li>
            <li><a href="/sport-games">Gry sportowe</a></li>
            <li><a href="/mygames">Moje gry</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </nav>
