
<%- include('header.ejs') %>

<div id="maincontent">
    <article id="content">
        <div class="game-entry">
            <h2>FIFA 23</h2>
            <p>
                FIFA 23 to komputerowa gra sportowa, skupiająca się na rozgrywkach piłki nożnej. Podobnie jak w poprzedniach częściach z serii, w grze udoskonalono mechanikę poruszania się oraz zachowania sterowanych przez sztuczną inteligencję lub gracza piłkarzy za pośrednictwem technologii HyperMotion2, której pierwowzór pojawił się w poprzedniej części z serii – dostęp do ulepszeń ograniczono dla wersji na komputery osobiste, konsole gier wideo dziewiątej generacji oraz Google Stadia. Gra zawiera ponad 30 klas rozgrywek ligowych, 100 stadionów piłkarskich, 700 klubów oraz 19 000 piłkarzy na podstawie udzielonych twórcom licencji.
                <span class="read-more"><a href="https://www.gry-online.pl/gry/fifa-23/z561e9">Czytaj więcej</a></span>
            </p>
            <div class="image-container">
                <img src="https://gaming-cdn.com/images/products/10545/616x353/fifa-23-pc-game-ea-app-cover.jpg?v=1698240517" alt="FIFA 23"/>
                <img src="https://www.tabletowo.pl/wp-content/uploads/2022/09/fifa-23-nowe-rzuty-rozne.jpg" alt="FIFA 23"/>
            </div>
        </div>


        <div class="game-entry">
            <h2>NBA 2K24</h2>
            <p>
                NBA 2K24 to najnowsza odsłona popularnej serii gier koszykarskich, która dostarcza niesamowitej rozrywki na boisku. Wciel się w rolę koszykarza NBA i zdobądź mistrzostwo w dynamicznych meczach. Gra oferuje niesamowitą grafikę, autentyczne stadiony i realistyczną rozgrywkę, która sprawi, że poczujesz się jak prawdziwy koszykarz.
                <span class="read-more"><a href="https://www.gry-online.pl/gry/nba-2k24/z666d6">Czytaj więcej</a></span>

            </p>
            <div class="image-container">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2023/09/nba-2k24-mamba-moments-drive-v-spurs.jpg" alt="NBA 2K24"/>
                <img src="https://ocdn.eu/pulscms-transforms/1/vsWk9kpTURBXy9iYjU3MjkwOTE4MmFhOTgyNzhlYjAzODU3MjVlNDIyMC5qcGeSlQMAAM0FAM0C0JMFzQSwzQKk3gACoTABoTEA" alt="NBA 2K24"/>
            </div>

        </div>
    </article>
</div>

<%- include('footer.ejs') %>