
<%- include('header.ejs') %>

<div id="maincontent">
    <article id="content">
        <div class="game-entry">
            <h2>Medieval 2 Total War</h2>
            <p>
                Medieval 2: Total War to strategia czasu rzeczywistego, która przenosi graczy do średniowiecznego świata pełnego wojen i intryg. Dowódź armią, zdobywaj terytoria i kieruj swoim królestwem w dążeniu do panowania nad Europą. Ta gra oferuje kompleksową rozgrywkę strategiczną i epickie bitwy, które pozostaną w pamięci na długo.
                <span class="read-more"><a href="https://www.gry-online.pl/gry/medieval-ii-total-war/ze1ae7">Czytaj więcej</a></span>
            </p>
            <div class="image-container">
                <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/4700/capsule_616x353.jpg?t=1668768196" alt="Medieval 2 Total War"/>
                <img src="https://cdn-ext.fanatical.com/production/product/1280x720/08dbc820-7df1-4123-acdd-555291317bfb.jpg" alt="Medieval 2 Total War"/>
            </div>
        </div>


        <div class="game-entry">
            <h2>Civilization VI</h2>
            <p>
                Gra komputerowa  z serii Civilization, której premiera miała miejsce 21 października 2016 r.

                Podobnie jak w poprzednich częściach serii, celem gracza jest rozwój cywilizacji i osiągnięcie zwycięstwa na jednej z kilku dróg.

                Za produkcję gry odpowiedzialny był ten sam zespół, który stworzył poprzednią część serii Civilization V. Część pomysłów (np. mechanika rozgrywki) zawartych w tych rozszerzeniach, znalazła się również w nowej odsłonie serii. Ulepszono też poziom sztucznej inteligencji komputerowych przeciwników, zmieniono system rozwoju technologicznego i rozbudowy miasta
                <span class="read-more"><a href="https://www.gry-online.pl/gry/sid-meiers-civilization-vi/z94795">Czytaj więcej</a></span>
            </p>
            <div class="image-container">
                <img src="https://store-images.s-microsoft.com/image/apps.59391.13977311502771693.72aef738-75a3-4db8-97c9-280f3b8c4daa.8093df13-7a33-46ad-96de-cedfacb8f364?q=90&w=480&h=270" alt="Civilization VI"/>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgCT930Jl7y3Ss17TzJdeIJSraZBLvNG4X9w&s" alt="Civilization VI"/>
            </div>

        </div>
    </article>
</div>

<%- include('footer.ejs') %>